.anchor-pane {
    -fx-background-color: white;
    -fx-border-color: #0078D7;
    -fx-border-width: 2;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
}

.anchor-pane {
    -fx-background-color: white;
    -fx-border-color: #0078D7;
    -fx-border-width: 2;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
}

.text-field, .password-field {
    -fx-background-radius: 10;
}

.button {
    -fx-background-color: #007bff;
    -fx-text-fill: white;
    -fx-font-family: "Tahoma";
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10px 15px;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-border-color: transparent;
    -fx-transition: background-color 0.3s;
}

.button:hover {
    -fx-background-color: #0056b3;
}

.button:pressed {
    -fx-background-color: #004085;
}